.inherit {
	display:inherit;
	list-style-type: none;
	padding:0;
}

.inherit img {
	width: 100%;
}


.inherit li {
	border-color: white;
	border-style: solid;
	border-width: 2px;
	width: 330px;
}

.photohover {
-webkit-box-shadow: 0 2px 5px 4px #D6D6D6;
box-shadow: 0 2px 5px 4px #D6D6D6;
width: 345px !important;
z-index:1;
margin:5px;
}

