<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Squid</title>

<!-- References / Credits -->
<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->

<!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="./css/search.css">

 <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  
  <!-- Angular JS Personal Library -->
  <script type="text/javascript" src="./js/squidApp.js"></script>
  <script type="text/javascript" src="./js/data.js"></script>
  
  
   <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
</head>
<body ng-app="squidApp" layout="column">
 <md-toolbar>
  <button ng-click="showme=true">Show</button>
 </md-toolbar>
 
   <div id="searchBar" class="check-element funky-show-hide" ng-show="showme" ng-controller="searchController">
	 <input type="text" placeholder="Search" ng-model="query" ng-focus="focus=true">
	  <div id="search-results" ng-show="focus">
	    <div class="search-result" ng-repeat="item in data | search:query" ng-bind="item" ng-click="setQuery(item)"></div>
	  </div>
	</div>	
 
	
	<div class="container" layout="row" flex>
		<md-sidenav md-is-locked-open="true">Sidenav</md-sidenav>
		<md-content id="content" flex>Content</md-content>
	</div>
	

</body>
</html>	