<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Squid</title>

<!-- References / Credits -->
<!-- <div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->

<!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="./css/search.css">
  <link rel="stylesheet" href="./css/container.css">
  

 <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.image-appear/1.9.3/ng-image-appear.min.js"></script>
  
  <!-- Angular JS Personal Library -->
  <script type="text/javascript" src="./js/squidApp.js"></script>
  <script type="text/javascript" src="./js/data.js"></script>
  
  
   <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  
</head>
<body ng-app="squidApp" layout="column">
<!-- HEADER - SEARCH INPUT -->

 <md-toolbar layout="row" layout-xs="column">
 	<div flex class="tollbar" layout="row">
 	<i class="searchIcon"><img src="./img/search.svg"></i>
        <input flex type="text" class="btnCancel"
               placeholder="Search"
               ng-model="query"
               ng-focus="isSearchFocused=true"
               ng-blur="isSearchFocused=false">             
   </div>
         
  <button class="button button-clear ng-hide delete-button"
              ng-show="isSearchFocused"
              ng-click="query = ''">
              <img src="./img/delete.svg">
      </button>
  </md-toolbar>
  
	<!-- CONTAINER (BODY SITE) -->
	<div class="container" layout="row" flex>
		<md-content id="content" flex>
		<div class="pctContent" layout="row" ng-controller="GalleryController as gallery">
			<ul class="inherit" ng-repeat="photos in gallery.pictures" layout-align="center" flex>
				<li ng-repeat="image in photos.images" ng-class="{'photohover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
					<img ng-image-appear animation="bounceIn" ng-src="{{image}}" />
				</li>
			</ul>
		</div>
		</md-content>
	</div>
	

</body>
</html>	